.about-me {
  padding: 20px;
  margin: 20px;
  height: 400px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.text-container {
  max-width: 50%;
}

h1 {
  color: #e14631;
  font-size: 35px;
  font-weight: 700;
  text-shadow: 0px 0px 2px black;
}

.about-me img {
  max-width: 200px;
  object-fit: contain;
}

.proyects {
  height: 300px;
}

.skills-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  gap: 10px;
}

.skill-container {
  width: 90px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.recognition {
  align-items: flex-end;
}
.recognition-text {
  display: none;
  position: absolute;
  left: 10px;
  top: -80px;
  padding: 0px 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 2px black;
  background-color: #ffd54f;
  white-space: break-spaces;
  text-align: center;
  color: black;
}
.recognition:hover .recognition-text {
  display: block;
}

.icon-container {
  display: flex;
  align-items: center;
  height: 100%;
}
.icon-container img {
  margin: auto 0;
}

.tools {
  padding: 20px;
  background-color: #313638;
  margin: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-types-list {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.clarifications-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clarification {
  margin: 20px 0px;
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
}

.experience {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
