.about-me {
  padding: 20px;
  margin: 20px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.text-container {
  max-width: 50%;
}

.about-me img {
  max-width: 200px;
  object-fit: contain;
}

.proyects {
  height: 300px;
}

.skills-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  gap: 10px;
}

.skill-container {
  width: 90px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-container {
  display: flex;
  align-items: center;
  height: 100%;
}
.icon-container img {
  margin: auto 0;
}

.tools {
  padding: 20px;
  background-color: #313638;
  margin: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-types-list {
  display: flex;
  gap: 20px;
}
