.proyect-card {
  width: 200px;
  height: 200px;
  background-color: red;
  color: black;
}

.experience-card-container .description {
  color: white;
  margin: 10px 0px;
  background-color: #313638;
}
.experience-card-container .description .description-text {
  max-width: 600px;
  margin: auto;
  font-size: 20px;
}

.description .job-position {
  font-size: 30px;
  margin: 0px 0px 10px 0px;
  color: #e14631;
}

.collapse {
  transition: height 3000ms;
}

.experience-card-container:hover {
  box-shadow: 0px 2px 8px 3px #e14631;
  transform: translateY(-3px);
  transition: transform 300ms;
}

.card-actions {
  display: flex;
  justify-content: end;
  margin: 0px 30px;
}
